[ -x "$(command -v toilet)" ] && toilet -f term -F border --gay " ripple for golang "
[ -x "$(command -v features)" ] && features githook -q

export STARSHIP_CONFIG=$(PWD)/.starship.toml

PATH_add 'bin'

source_env_if_exists .envrc.local

